body {
  margin: 0;
  background-color: black !important;
}

.container {
  height: 100%;
  margin:0 auto;
  padding: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
}

.flex-r {
  /* height: 50px; */
  display: flex;
  justify-content: space-evenly;
}

.inner {
  /* height: 250px;
  width: 250px; */
}

.content {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}